<section class="section-pt">
<header>
    <h1 class="text-center">Proveedores</h1>
</header>
<div class="container">
<div class="row" style="margin-bottom: 20px">
    <article class="col-lg-4 col-offset-lg-1">
        <div style="border: solid 2px #d43511; border-radius: 5px; padding: 0 3px; background-color: #f05f40">
            <h2 class="text-center" style="color: #fff">Makito</h2>
            <a href="http://www.stockcatalogue2016.com/iberia/" target="_blank" >
                <img src="src/theme/assets/img/proveedores/Makito.png" width='350px' height="350px">
            </a>
            <p style="margin-top: 15px; padding: 10px; color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nunc eget auctor enim.</p>
        </div>
    </article>
    <article class="col-lg-4">
        <div style="border: solid 2px #d43511; border-radius: 5px; padding: 0 3px; background-color: #f05f40">
            <h2 class="text-center" style="color: #fff">Mid Ocean Brands</h2>
            <a href="http://brochures.viewfx.co.uk/morethangifts16/es/" target="_blank" >
                <img src="src/theme/assets/img/proveedores/MOB.png" width='350px' height="350px">
            </a>
            <p style="margin-top: 15px; padding: 10px; color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nunc eget auctor enim.</p>
        </div>
    </article>
    <article class="col-lg-4">
        <div style="border: solid 2px #d43511; border-radius: 5px; padding: 0 3px; background-color: #f05f40">
            <h2 class="text-center" style="color: #fff">Publicitarios</h2>
            <a href="http://www.catalogopublicitarios.com/" target="_blank">
                <img src="src/theme/assets/img/proveedores/catalogopublicitarios.png" width='350px' height="350px">
            </a>
            <p style="margin-top: 15px; padding: 10px; color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nunc eget auctor enim.</p>
        </div>
    </article>
</div>
<div class="row" style="margin-bottom: 20px">
    <article class="col-lg-4">
        <div style="border: solid 2px #d43511; border-radius: 5px; padding: 0 3px; background-color: #f05f40">
            <h2 class="text-center" style="color: #fff">Roly</h2>
            <a href="http://www.catalogoroly.es/" target="_blank">
                <img src="src/theme/assets/img/proveedores/roly.png" width='350px' height="350px">
            </a>
            <p style="margin-top: 15px; padding: 10px; color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nunc eget auctor enim.</p>
        </div>
    </article>
    <article class="col-lg-4">
        <div style="border: solid 2px #d43511; border-radius: 5px; padding: 0 3px; background-color: #f05f40">
            <h2 class="text-center" style="color: #fff">Banderas</h2>
            <a href="http://www.catalogoblancodebanderas.com/" target="_blank">
                <img src="src/theme/assets/img/proveedores/banderas.png" width='350px' height="350px">
            </a>
            <p style="margin-top: 15px; padding: 10px; color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nunc eget auctor enim.</p>
        </div>
    </article>
    <article class="col-lg-4">
        <div style="border: solid 2px #d43511; border-radius: 5px; padding: 0 3px; background-color: #f05f40">
            <h2 class="text-center" style="color: #fff">Enaras</h2>
            <a href="http://www.rcapublicidad.com/" target="_blank">
                <img src="src/theme/assets/img/proveedores/enara.png" width='350px' height="350px">
            </a>
            <p style="margin-top: 15px; padding: 10px; color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nunc eget auctor enim.</p>
        </div>
    </article>
</div>
</div>
</section>