<div ng-controller="HomeController" id="home">
    <section id="inicioHeader" class="section-pt">
        <div class="container --rm-padding-lr">
            <div class="header-content">
                <presentation-xlg header="{{home.model.element.title}}" subheader="{{home.model.element.subTitle}}" ctatext="{{home.model.element.ctaTextPresentXlg}}" revealerclass="{{home.model.element.revealerClass}}" btnclass="{{home.model.element.btnClassPresentXlg}}"></presentation-xlg>
            </div>
        </div>
    </section>
    <section class="orangeSection padding-section">
        <div class="container">
            <div class="row">
                <div class="text-center col-lg-8 col-lg-offset-2">
                    <presentation-lg subheader="{{home.model.element.subTitlePresentLg}}" header="{{home.model.element.titlePresentLg}}"></presentation-lg>
                    <div class="{{home.model.element.revealerClass}} revealer">
                        <a type="button" href="#contacto" class="{{home.model.element.btnNosotrosCtaText}}">{{home.model.element.nosotrosCtaText}}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="whiteSection padding-section">
        <div class="container text-center">
            <div class="row">
                <h2 class="section-heading">{{home.model.element.serviciosTitle}}</h2>
            </div>
            <separator-sections></separator-sections>
            <div class="row">
                <article ng-repeat="ele in home.model.element.notes" detect-view-port>
                    <div class="col-lg-4 col-md-6 text-center">
                        <icon-text revealernumber="{{ele.revealernumber}}" subheader="{{ele.subTitleInfoBanFour}}" header="{{ele.titleInfoBanFour}}" icon="{{ele.infoIconBanFour}}"></icon-text>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="galeriaImagenes" class="container-fluid" class="section-pt">
        <div class="container-fluid">
            <div class="row">
                <article ng-repeat="ele in home.model.element.images" class="no-gutter">
                    <images-three-col enlace="{{ele.enlace}}" image="{{ele.image}}" category="{{ele.category}}" portName="{{ele.portaName}}"></images-three-col>
                </article>
            </div>
        </div>
    </section>
    <aside class="portafolioInfo padding-section--half">
        <div class="container text-center">
            <h2>{{home.model.element.portafolioInfoTitle}}</h2>
            <div class="{{home.model.element.revealerClass}} revealer">
                <a type="button" href="#" class="btn btn-default btn--oval text-uppercase">{{home.model.element.portafolioInfoCtaText}}</a>
            </div>
        </div>
    </aside>
</div>
