<div id="home">

    <aside class="section-pt">
    	<div class="sidenav">
            <div style="padding: 15px">
            <div class="container-btn-menu submenu-btn-products pull-left" ng-class="[btnSubMenuClass, btnMenuAnimation]" ng-click="convertBtnSubMenu(this)">
                <a href="javascript:void(0);" ng-click="dropDownSubMenuProducts()">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </a>
            </div>
    		<h2 class="text-center">Productos</h2>
            </div>
    		<nw-category-select></nw-category-select>
    	</div>
    </aside>
    <section>
        <div ui-view="{{category.name}}" class="wrapper">
        	<div class="row">
        		<div class="col-lg-12">
        			<h1 class="page-title">Dashboard</h1>
        		</div>
        	</div>
        	<div class="row">
        		<article ng-repeat="panel in twoColumns.model.element.panels">
            		<panel header="{{panel.header}}" body="{{panel.body}}" colclass="{{panel.columns}}" panelstyle="{{panel.panelstyle}}"></panel>
            	</article>
        	</div>
        	<div class="row">
    	    	<article ng-repeat="ele in home.model.element.notes">
    				<div class="col-xs-4">
    					<info-banner-four subheader="{{ele.subTitleInfoBanFour}}" header="{{ele.titleInfoBanFour}}" icon="{{ele.infoIconBanFour}}"></info-banner-four>
    				</div>
    			</article>
    		</div>
    	</div>
    </section>
</div>

<!-- https://docs.angularjs.org/guide/directive#-ngattr-attribute-bindings -->
<!-- http://plnkr.co/edit/WoqtP8ZpvPh2r94ITQvf?p=preview -->
<!-- $stateprovider angularjs
http://joelhooks.com/blog/2013/07/22/the-basics-of-using-ui-router-with-angularjs/ 
-->
<!--
https://builtwith.angularjs.org/
-->