.is-btn-toTop--active {
  z-index: 1030;
  opacity: 0;
  position: fixed;
  right: 2%; /*100px*/
  top: 87%;  /*540px*/
}
.btn-toTop:focus, .box-caption { color: #fff;}
.btn-toTop:focus {
  background-color: red;
  border-color: #fff !important;
  outline: none;
}
.btn-toTop:hover {
  background-color: #fff;
  color: red;
}