<div class="clearfix">
    <photo-gallery-hover gallerydata="templatePromoPage.model.element.gallerydata1"></photo-gallery-hover>
    <div class="textpromo col-lg-6 col-md-12 col-xs-12">
        <h1>{{ templatePromoPage.model.element.titlePage }}</h1>
        <div ng-if="templatePromoPage.model.expired" class="alert alert-danger text-center">
            <h3>Campaña Finalizada</h3>
        </div>
        <h3>{{ templatePromoPage.model.element.subTitlePage }}</h3>
        <h5>{{ templatePromoPage.model.element.productBrief }}</h5>
        <p ng-repeat="text in templatePromoPage.model.element.paragraph">{{text}}</p>
        <p class="pricepromo">{{ templatePromoPage.model.priceText }}<span>{{ templatePromoPage.model.element.priceAmount | currency: '&euro;' }}</span></p>
        <p>
            <a type="button" class="btn btn-danger btn--oval text-uppercase" href="http://localhost:8075/#/contacto">contactar</a>
        </p>
    </div>
</div>