<div>
<p>{{demo}}</p>
	<img src="src/theme/assets/img/roly/camis_montecarlo.jpg" ng-mousemove="showCoords($event)" ng-mouseleave="clearCoor()">
	<div class="" style="border: solid; width: 300px; height: 300px; float: right; overflow: hidden; position: relative; margin-right: 500px;">
		<img style="position: absolute; top: 500px; left: 500px" src="src/theme/assets/img/roly/camis_montecarlo.jpg" ng-mouseover="bigImg()" ng-mouseleave="normalImg()">
	</div>
	<!-- <img src="src/theme/assets/img/roly/camis_montecarlo.jpg" ng-class="heightImgsrc"> -->
</div>

<!-- <div id="magnifierLens" style="background-image: url(&quot;https://images-na.ssl-images-amazon.com/images/G/01/apparel/rcxgs/tile._CB211431200_.gif&quot;); position: absolute; cursor: pointer; width: 391px; height: 268px; left: 107.281px; top: 343px;"></div> -->