<div class="row">
	<div class="col-lg-12">
		<h1 class="page-title">{{template6.model.element.titlePage}}</h1>
	</div>
</div>
<div class="row text-center row-margin">

	<article ng-repeat="ele in template6.model.element.gallery">
			<img-text bottomtext="{{ele.bottomtext}}" header="{{ele.header}}" imgalt="{{ele.imgalt}}" colclass="{{ele.colclass}}" imgheight="{{ele.imgheight}}" imgpath="{{ele.imgpath}}" imgshape="{{ele.imgshape}}" imgwidth="{{ele.imgwidth}}"></img-text>
	</article>
</div>
<hr />
<div class="row row-margin">
	<article ng-repeat="ele in template6.model.element.texts">
			<text-only colclass="{{ele.colclass}}" titletextclass="{{ele.titletextclass}}" titletext="{{ele.titletext}}" spantext="{{ele.spantext}}" bodytext="{{ele.bodytext}}"></text-only>
			<img-text imgalt="{{ele.imgalt}}" colclass="{{ele.colclass2}}" imgheight="{{ele.imgheight}}" imgpath="{{ele.imgpath}}" imgshape="{{ele.imgshape}}" imgwidth="{{ele.imgwidth}}"></img-text>
	</article>
</div>
<div class="row row-margin">
	<article ng-repeat="ele in template6.model.element.texts">
			<img-text imgalt="{{ele.imgalt}}" colclass="{{ele.colclass2}}" imgheight="{{ele.imgheight}}" imgpath="{{ele.imgpath}}" imgshape="{{ele.imgshape}}" imgwidth="{{ele.imgwidth}}"></img-text>
			<text-only colclass="{{ele.colclass}}" titletextclass="{{ele.titletextclass}}" titletext="{{ele.titletext}}" spantext="{{ele.spantext}}" bodytext="{{ele.bodytext}}"></text-only>
	</article>
</div>