// @media screen and (min-width: 768px) {
	
// }

@media (min-width: 1200px) {
	
}

@media only screen and (min-width : 320px) and (max-width: 340px) {
	
}

@media only screen and (min-width : 320px) and (max-width: 569px) {
	
}
    // Custom, iPhone Retina
@media only screen and (min-width : 667px) { 
	
}

@media only screen and (min-width : 320px) and (max-width: 479px) {
	
}
    // Extra Small Devices, Phones, Apple iPhone 4
@media only screen and (min-width : 480px) and (max-width: 567px) {
	
}
    // Small Devices, Phones, Apple iPhone 5/6/6 Plus 
@media only screen and (min-width : 568px) and (max-width: 767px) { }
    // Small Devices, Tablets
@media only screen and (min-width : 768px) and (max-width: 959px) { }
    // Medium Devices, Desktops
@media (max-width: 768px) {
	.container {
		&.--rm-padding-lr {
			padding-right: 0;
			padding-left: 0;
		}
	}
	.desc-header {
		font-size: 16px;
		margin-bottom: 50px;
		max-width: 100%;
	}
	.footer--address {
		text-align: center;
	}
	.viewwindow {
		width: 360px;
	}
	.thumbswrapper {
		height: 80px;
		overflow-x: scroll;
		white-space:nowrap;
	}
	.mainimageshell {
		margin-left: -30px;
	} 
}

@media (min-width : 768px) {
	.header-content h1{
		font-size: 55px;
	}
	.carousel-caption {
		right: 50%;
    	left: 12%;
    	padding-bottom: 0px;
	}
	.sidenav {
	  	height: 100%;
	    position: fixed;
	    width: 250px;
	}
	.wrapper {
		margin: 0 0 0 250px;
	}
	.right-side {
	    float: right;
	    right: 2%;
	    z-index: 1;
	}
}
@media only screen and (min-width : 960px) and (max-width: 1023px) {
	
}
    // Apple iPad,  Apple iPad Mini, BlackBerry PlayBook
@media only screen and (min-width : 1024px) and (max-width: 1279px) { }
    // Large Devices, Wide Screens, Google Neux 10
@media only screen and (min-width : 1280px) {
	.carousel {
		width: 740px;
	}
	.container--form {
	    width: 35%;
	}
	.carousel-inner {
		width: 700px;
		& img {
			width: 700px;
		}
	}
}
@media only screen and (min-width : 1350px) { }
	// Large Devices, Laptop with HiDPi
@media only screen and (min-width : 1440px) { }

@media only screen and (min-width : 1560px) { }