<footer class='footer' id="footer"> <!-- container -->
  	<div class="row"> 
	  	<article>
	  		<div class="col-lg-1 col-xs-12 text-center">
				<icon-text header="{{}}" subheader="{{element.telefono}}" icon="{{element.telefonoIcon}}" revealernumber="{{element.iconAnimeClass}}"></icon-text>
			</div>
	  	</article>
	  	<article>
	  		<div class="col-lg-1 col-xs-12 text-center">
				<icon-text header="{{}}" subheader="{{element.email}}" icon="{{element.emailIcon}}" revealernumber="{{element.iconAnimeClassTwo}}"></icon-text>
			</div>
	  	</article>
	  	<div class="col-lg-9 footer--address">
			<h4>RCA Publicidad</h4>
			<p>P.I PIBO. C/. Aznalcázar, 5</p>
			<p>Naves Monteguadiana Mód. 35 y 36</p>
			<p>41110 - Bollullos de la Mitaci&#243n (Sevilla)</p>
		</div>
  	</div>
</footer>