<article>
	<div class="mainimageshell col-lg-5" ng-class="side">
	    <div class="viewwindow">
	        <ul id="fullscroller" class="fullsizelist" ng-style="listposition">
	            <li class="list-gallery" ng-repeat="img in gallerydata">
	               	<img id="fullsize" class="large" ng-src="{{IMAGE_LOCATION+img.image}}"/>
	            </li>
	        </ul>
	        <!-- <a class="prev" ng-model="finalamount" ng-click="arrowSlides(-1)">&#10094;</a>
	        <a class="next" ng-model="finalamount" ng-click="arrowSlides(1)">&#10095;</a> -->
	    </div>
	</div>
	<div class="col-lg-6">
		<div class="row">
			<div class="captionshell col-lg-12">
				<h3 class="title-text-only">{{selected.title}}</h3>
			    <p class="caption col-lg-11">{{selected.desc}}</p>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="thumbsshell col-lg-12">
		        <ul class="thumbswrapper">
		            <li class="list-gallery" ng-repeat="img in gallerydata">
		                <div class="thumbwrapper" ng-init="init(img)">
		                    <a ng-href="" ng-click="scrollTo(img, $index)">
		                        <img class="thumbnail-gallery" ng-src="{{img.image}}" />
		                    </a>
		                </div>
		            </li>
		        </ul>
			</div>
		</div>
	</div>
</article>