// * {
//   box-sizing: border-box;
// }

// body {
//   font-size: 18px;
//   line-height: 1.4;
//   font-family: 'Inconsolata', sans-serif;
//   background-color: #1d1f20;
//   color: #666;
// }

// h2 {
//   font-size: 28px;
//   font-weight: 700;
//   color: #fff;
//   font-family: 'Raleway', sans-serif;
//   position: relative;
//   line-height: 1.3;
// }

// p {
//   padding-top: 15px;
// }
/*
a.btn {
  display: inline-block;
  margin-top: 25px;
  border: 1px solid #00c1bb;
  color: #00c1bb;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}

a.btn span {
  display: inline-block;
  padding: 6px 40px;
  transition: transform 0.4s;
}

a.btn .row2 {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
}

a.btn:hover .row1 {
  transform: translateY(-100%);
}

a.btn:hover .row2 {
  transform: translateY(0);
}
*/
/*
.container {
  margin: 0 auto;
  padding-left: 6%;
  padding-right: 6%;
  max-width: 1400px;
  clear: both;
}

.container:after {
  content: ' ';
  display: block;
  clear: both;
}

.container--circles {
  padding-top: 50px;
  padding-bottom: 50px;
}

.fullscreen {
  display: table;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 100;
}
*/
// .footer {
//   width: 100%;
//   text-align: center;
//   padding-top: 150px;
//   padding-bottom: 150px;
// }

// .text {
//   display: table-cell;
//   width: 100%;
//   height: 100%;
//   vertical-align: middle;
// }

// .scroll {
//   width: 100%;
//   position: absolute;
//   left: 0;
//   bottom: 30px;
//   text-align: center;
//   color: #fff;
//   text-decoration: none;
//   font-size: 14px;
//   text-transform: uppercase;
//   letter-spacing: 2px;
// }
/*
.circle {
  width: 31.333333%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  float: left;
  position: relative;
  font-size: 250%;
  display: none;
}

.enhanced .circle {
  //transition: transform 600ms cubic-bezier(0.8, 0, 0, 0.8);
  animation: moveopacity 1.5s ease;
  //transform: scale(0.3);
  display: none;
  
}

.circle.revealed {
  //transform: scale(1); //1
  animation: moveopacity 1.5s ease;
  display: block;
}

.circle:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

@keyframes moveopacity {
    from 99% { opacity: 0; }
    to 100% { opacity: 1; }
}

.circle.c1 {
  background-color: #ed194b;
  transition-delay: 2s;
}

.circle.c2 {
  background-color: #f37c78;
  transition-delay: 2s;
}

.circle.c3 {
  background-color: #f8a19a;
  transition-delay: 2s;
}

.circle__inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-52%);
  color: #1d1f20;
  line-height: 1;
}*/