.card {
	position: relative;
}
.card p.hidden {
	display: none;
	background-color: blue;
}
.page-title {
	padding-bottom: @standardDistance;
    margin: 20px 0;
    border-bottom: 1px solid #eee;
    font-size: 35px;
}
.padding-st {
	padding: @standardDistance;
}
.img-c-border {
	& .--grey-#f2f2f2 {
		border: solid 5px #f2f2f2;
	}
}
.center-element {
	margin: 0 auto;
	width: 150px;
}