.card {
	position: relative;
}
.card p.hidden {
	display: none;
	background-color: blue;
}
.page-title {
	padding-bottom: @standardDistance;
    margin: 20px 0;
    border-bottom: 1px solid #eee;
    font-size: 40px;
}
.padding-st {
	padding: @standardDistance;
}