.container-overlay {
    position: relative;
    .wrapper-overlay {
        overflow: hidden;
        max-height: 370px;
        margin: 10px 0;
    }
}
.container-overlay .wrapper-overlay .wrapper-overlay-text {
    padding: 15px;
    width: 100%;
    height: 250px;
    position: absolute;
    overflow: hidden;
    top: 0; //0
    left: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    opacity: 1;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

.container-overlay .wrapper-overlay:hover .wrapper-overlay-text {
    transform: translateY(70px); // 0
    -webkit-transform: translateY(70px); // 0
    -ms-transform: translateY(70px); // 0
}

.container-overlay .wrapper-overlay .wrapper-overlay-img {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.container-overlay .wrapper-overlay:hover .wrapper-overlay-img {
    transform: translateY(450px);
    -webkit-transform: translateY(450px);
    transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
}

.container-overlay .wpb_content_element {
    margin: 0;
}

.container-overlay h3 {
    color: #e51e1e;
    margin: 0 auto 10px;
}

.wrapper-overlay-text h3, .wrapper-overlay-text p {
    text-align: center;
}