.navbar-default {
    background-color: transparent;
}
.nav>li>a {
    padding: 0px 15px;
}
.navbar-header {
    font-size: 20px;
    -webkit-transition: font-size .8s; /* For Safari 3.1 to 6.0 */
    transition: font-size .8s;
    margin-top: 10px;
}
.navig-side {
	//list-style: none;
	li {
		background-color: #eee;
		padding: 10px;
		border-top: solid 1px white;
		a {
			//color: #fff;
			display: block;
			position: relative;
		}
	}
}
