<div class="row">
	<div class="col-lg-12">
		<h1 class="page-title">{{template5.model.element.titlePage}}</h1>
	</div>
</div>
<div class="row">
	<article ng-repeat="panel in template5.model.element.panels">
		<panel header="{{panel.header}}" body="{{panel.body}}" colclass="{{panel.columns}}" panelstyle="{{panel.panelstyle}}"></panel>
	</article>
</div>
<div class="row">
	<article ng-repeat="panel in template5.model.element.gallery">
		<panel header="{{panel.header}}" imgalt="{{panel.imgalt}}" body="{{panel.body}}" bodystyle="{{panel.bodystyle}}" colclass="{{panel.columns}}" footerstyle="{{panel.footerstyle}}" panelstyle="{{panel.panelstyle}}" imgheight="{{panel.imgheight}}" imgpath="{{panel.imgpath}}" imgshape="{{panel.imgshape}}" imgwidth="{{panel.imgwidth}}" footer="{{panel.footer}}"></panel>
	</article>
</div>